
.container-fluid{
    background-size: cover;
    height: 100%; 
    background-position: center; 
}

.clock{
    font-size: 10rem;
    background: rgba(255, 255, 255, 0.644);
    color: rgb(50, 79, 90);
    border-radius: .5rem;
    font-family: 'Fredericka the Great', cursive;
}
.list{
    list-style-type: none;
    color: rgb(156, 189, 207);
    background: rgba(0, 0, 0, 0.472);
    font-size: 2rem;
    margin-left: 4rem;
    border-radius: .5rem;
    margin-right: 4rem;
    font-family: 'Share Tech Mono', monospace;
}
.weather{
    color: rgb(156, 189, 207);
    background: rgba(0, 0, 0, 0.472);
    font-size: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: .5rem;
    font-family: 'Share Tech Mono', monospace;
}
.marg{
    margin-top: 38rem
}
.quote{
    font-size: 3rem;
    background: rgba(255, 255, 255, 0.644);
    color: rgb(50, 79, 90);
    border-radius: .5rem;
    font-family: 'Kumar One Outline', cursive;
    margin-top: 1rem
}
.form{
    background: rgba(0, 0, 0, 0.466);
    border: 2px solid rgb(129, 129, 129);
    border-radius: .5rem;
    color: rgb(255, 255, 255);
    font-family: 'Share Tech Mono', monospace;
}
#checkbox{
    background: rgba(255, 255, 255, 0.644); 
    color: rgb(50, 79, 90);
}
.btn2{
    color:rgb(156, 189, 207);
    background:rgba(0, 0, 0, 0.555);
    border-radius: 3rem;
    font-family: 'Share Tech Mono', monospace;
}