body{
    color: rgb(83, 192, 187)
}
.clock{
    font-size: 7rem
}
.container-fluid{
    background-size: cover;
    height: 100%; 
    background-position: center; 
}
.list{
    list-style-type: none;
}
